Create a new URL<br>

Top <%= @urls.length %> URLs:
<table>
  <tr>
    <th>URL</th>
    <th>Slug</th>
    <th>Hit Count</th>
    <%@urls.each do |url| %>
    <tr>
      <th><%= url.path %></th>
      <th><%= url.slug %></th>
      <th><%= url.hit_count %></th>
    </tr>
    <% end %>
</table>
